.element {
  background-color: #f7f6f4;
  width: 100%;
  min-width: 425px;
  min-height: 783px;
  position: relative;
}

.element .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 425px;
  height: 783px;
  aspect-ratio: 0.67;
  object-fit: cover;
}

.element .bt {
  display: flex;
  flex-direction: column;
  width: 425px;
  align-items: flex-start;
  gap: 8px;
  padding: 30px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
}

.element .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.element .name {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  position: relative;
  flex: 0 0 auto;
}

.element .group {
  position: relative;
  width: 319px;
  height: 48px;
  margin-right: -4px;
}

.element .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #121212;
  font-size: 21px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .div {
  position: absolute;
  top: 27px;
  left: 0;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #121212;
  font-size: 29px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 29px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #4d4d4d;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 25px;
}

.element .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #4d4d4d;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.element .p {
  position: relative;
  width: fit-content;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #4d4d4d;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.element .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  padding: 30px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.element .sale {
  display: flex;
  width: 385px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #f30d3f;
  font-size: 50px;
  letter-spacing: -2.5px;
  line-height: 0.1px;
}

.element .frame-5 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 8px;
  padding: 0px 10px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.element .frame-6 {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #b5b5b6;
  font-size: 24px;
  text-align: right;
  letter-spacing: -0.72px;
  line-height: 0.1px;
  text-decoration: line-through;
}

.element .frame-7 {
  display: inline-flex;
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #121212;
  font-size: 33px;
  text-align: right;
  letter-spacing: -0.99px;
  line-height: 0.1px;
}

.element .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #121212;
  font-size: 24px;
  text-align: right;
  letter-spacing: -0.72px;
  line-height: 0.1px;
}

.element .price {
  position: relative;
  width: 387px;
  height: 46px;
  margin-right: -2px;
}

.element .mask-group {
  position: absolute;
  top: 0;
  left: 164px;
  width: 221px;
  height: 46px;
}

.element .mask-group-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 164px;
  height: 46px;
}

.element .frame-8 {
  display: flex;
  width: 130px;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 12px;
  left: 245px;
}

.element .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: fit-content;
  margin-top: -1px;
  margin-left: -10px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #f30d3f;
  font-size: 33px;
  text-align: right;
  letter-spacing: -0.66px;
  line-height: 0.1px;
}

.element .text-wrapper-9 {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: fit-content;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #f30d3f;
  font-size: 24px;
  text-align: right;
  letter-spacing: -0.48px;
  line-height: 0.1px;
}

.element .text-wrapper-10 {
  position: absolute;
  top: 14px;
  right: 252px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: right;
  letter-spacing: -0.75px;
  line-height: 0.1px;
}

.element .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  left: 20px;
  bottom: 334px;
}

.element .img-2 {
  position: relative;
  width: 29px;
  height: 29px;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: -2px;
}

.element .img-3 {
  position: relative;
  width: 29px;
  height: 29px;
  margin-bottom: -2px;
  margin-left: -2px;
  margin-right: -2px;
}

.element .NO-wrapper {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 90, 46, 1) 0%,
    rgba(255, 0, 56, 1) 52%,
    rgba(255, 0, 239, 1) 100%
  );
}

.element .NO {
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.element .logo-odp-simbol {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  display: flex;
  padding: 20px 7px;
  align-items: flex-end;
  min-width: 97px;
}

.element .sx-b {
  width: 83px;
  height: 29px;
  background-image: url(./img/outdoorproducts-original-logo-1.png);
  background-size: 100% 100%;
}

.element .group-2 {
  position: absolute;
  top: 325px;
  left: 279px;
  width: 130px;
  height: 130px;
  aspect-ratio: 1;
}
